<div id="punishment-detail">
    <form name="form" novalidate>
        <div id="success-msg" ng-show="success">Punishment created successfully.</div>
        <div id="error-msg" ng-show="error">Error creating the punishment.</div>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" ng-model="name" />

        <label for="desc">Description:</label>
        <textarea type="text" id="desc" name="desc" ng-model="description"></textarea>

        <button id="create-punishment" type="submit" ng-disabled="!isValid()" ng-click="doAction()">Create punishment</button>
    </form>
</div>