<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>

        <script type="text/javascript" >
            console.log("loading custom library");
            //callback handler for form submit
            $( document ).ready(function() {

                $("#list-punishments").on("click", ".delete", function() {

                    var $deleteSpan = $(this);

                    $.ajax(
                            {
                                url : 'delete-punishment',
                                type: "POST",
                                data : JSON.stringify({'id' : parseInt($deleteSpan.attr('data-id'))}),
                                dataType: "json",
                                contentType: 'application/json',
                                success:function(data, textStatus, jqXHR)
                                {
                                    $deleteSpan.parent().remove();
                                },
                                error: function(jqXHR, textStatus, errorThrown)
                                {
                                    $("#error").show();
                                    // TODO: error page or something.
                                    console.log("error to submit");
                                    console.log(jqXHR);
                                    console.log(textStatus);
                                    console.log(errorThrown);
                                    console.log("error to submit");
                                }
                            });
                });
                // edit
                $("#list-punishments").on("click", ".edit", function() {

                    var $editSpan = $(this);

                    if ($editSpan.attr("data-type") == 'edit-mode'){
                        // view: http://stackoverflow.com/questions/11338774/serialize-form-data-to-json
                        var formData = {
                            'id' 			    :  $editSpan.attr('data-id'),
                            'title' 			:  $editSpan.parent().find('input[name=title]').val(),
                            'description' 		:  $editSpan.parent().find('input[name=description]').val()
                        };

                        $.ajax({
                            url : 'edit-punishment',
                            type: "POST",
                            data : JSON.stringify(formData),
                            dataType: "json",
                            contentType: 'application/json',
                            success:function(data, textStatus, jqXHR)
                            {
                                var template = $('#punishment-element').html();
                                var rendered = Mustache.render(template,
                                        {
                                            title: formData.title,
                                            description: formData.description,
                                            id: formData.id
                                        }
                                );
                                $divContainer = $editSpan.parent();
                                $(rendered).insertBefore($divContainer);
                                $divContainer.remove();
                            },
                            error: function(jqXHR, textStatus, errorThrown)
                            {
                                $editSpan.parent().find('.error').show();
                                console.log("error to submit");
                                console.log(jqXHR);
                                console.log(textStatus);
                                console.log(errorThrown);
                                console.log("error to submit");
                            }
                        });

                    }
                    else {
                        var $titleSpan = $editSpan.parent().find(".title");
                        var $descriptionSpan = $editSpan.parent().find(".description");

                        var inputTitle = $('<input />', {
                            'type': 'text',
                            'name': 'title',
                            'value': $titleSpan.html()
                        });
                        inputTitle.insertBefore($titleSpan);
                        $titleSpan.remove();
                        inputTitle.focus();

                        var inputDescription = $('<input />', {
                            'type': 'text',
                            'name': 'description',
                            'value': $descriptionSpan.html()
                        });
                        inputDescription.insertBefore($descriptionSpan);
                        $descriptionSpan.remove();

                        $editSpan.attr("data-type", "edit-mode");
                        $editSpan.html('Save');
                    }


                });
                // list
                $.ajax({
                    url : "list-punishment",
                    type: "GET",
                    contentType: 'application/json',
                    success:function(data, textStatus, jqXHR)
                    {
                        var template = $('#punishment-element').html();
                        Mustache.parse(template);

                        $.each(data, function(i, item) {
                            var rendered = Mustache.render(template,
                                    {
                                        title: item.title,
                                        description: item.description,
                                        id: item.id
                                    }
                            );
                            $("#list-punishments").append(rendered);
                        });
                    }
                });

                // save
                $("#save-punishment-form").submit(function(e)
                {
                    console.log("submit");
                    // view: http://stackoverflow.com/questions/11338774/serialize-form-data-to-json
                    var formData = {
                        'title' 			: $('input[name=title]').val(),
                        'description' 		: $('input[name=description]').val()
                    };
                    $.ajax(
                            {
                                url : $(this).attr("action"),
                                type: "POST",
                                data : JSON.stringify(formData),
                                dataType: "json",
                                contentType: 'application/json',
                                success:function(data, textStatus, jqXHR)
                                {
                                    var template = $('#punishment-element').html();
                                    var rendered = Mustache.render(template,
                                            {
                                                title: data.title,
                                                description: data.description,
                                                id: data.id
                                            }
                                    );

                                    $("#list-punishments").append(rendered);
                                },
                                error: function(jqXHR, textStatus, errorThrown)
                                {
                                    $("#error").show();
                                    // TODO: error page or something.
                                    console.log("error to submit");
                                    console.log(jqXHR);
                                    console.log(textStatus);
                                    console.log(errorThrown);
                                    console.log("error to submit");
                                }
                            });

                    e.preventDefault(); //STOP default action
                    return false;
                });
            });

        </script>
    </head>
    <body>
        <div id="navigation">
            <a th:href="@{/roulette-punishments}" href="/roulette-punishments">Roulette</a>
        </div>
        <form id="save-punishment-form" action="save-punishment" method="POST">
            <span id="error" style="display: none">All fields are mandatory and title should be unique</span>
            <input type="text" name="title"/>
            <input type="text" name="description"/>
            <input type="submit"/>
        </form>

        <div id="list-punishments">

        </div>

        <script id="punishment-element" type="x-tmpl-mustache">
            <div>
                <span class="title">{{title}}</span>
                <span class="description">{{description}}</span>
                <span class="delete" data-id="{{id}}">Delete</span>
                <span class="edit" data-id="{{id}}">Edit</span>
                <span class="error" style="display: none">Title repeated</span>
            </div>
        </script>
    </body>
</html>