<!DOCTYPE html>
<html>
    <head>
        <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    </head>
    <body>
        <form id="save-punishment-form" action="save-punishment" method="POST">
            <input type="text" name="title"/>
            <input type="text" name="description"/>
            <input type="submit"/>
        </form>

        <div id="list-punishments"></div>

        <script>
            //callback handler for form submit
            $("#save-punishment-form").submit(function(e)
            {
                var formData = {
                    'title' 			: $('input[name=title]').val(),
                    'description' 		: $('input[name=description]').val()
                };
                $.ajax(
                        {
                            url : $(this).attr("action"),
                            type: "POST",
                            data : JSON.stringify(formData),
                            dataType: "json",
                            contentType: 'application/json',
                            success:function(data, textStatus, jqXHR)
                            {
                               console.log(data);
                            },
                            error: function(jqXHR, textStatus, errorThrown)
                            {
                               // TODO: error page or something.
                            }
                        });


                e.preventDefault(); //STOP default action
            });

        </script>

    </body>
</html>